extends layout

block content

  .container
    .row
      each organization, i in organizations
        .col-md-3.col-sm-4
          a(href= "/#{organization._id}")
            .thumbnail.home-thumbnail
              .caption= organization.name
              .footer= organization.date
            //- li= organization.name
            //- li
            //-   a(href= "/#{organization.id}")= organization.name
  //- h1= title
  //- p Welcome to #{title}
  //- p= organizations
  //- p= orga.namecontent
  //- hr
  //- ul
  //-   each organization, i in organizationsbis
  //-     li= organization.name

