extends layout

block content

  #theGrid.main

    section.grid
      each organization, i in organizations
        a.grid__item(href="##{organization.slug}")
          h2.title.title--preview= organization.name
          .meta.meta--preview
            span.meta__date
              i.icon-calendar
              = organization.date_fr
            span.meta__location
              i.icon-location
              = organization.city


    section.content(style="top:173px;")
      .scroll-wrap
        each organization, i in organizations
          article.content__item
            //- span.categorry.category--full Test
            h2.title.title--full= organization.name
            .row
              .col-md-6
                .meta.meta--full
                  span.meta__date
                    i.icon-calendar
                    = organization.date_fr
                  span.meta__location
                    i.icon-location
                    = organization.city
                  span.meta__misc
                    span
                      |  Site web :
                      a(href=organization.website_url)  #{organization.website_url}
                hr
                if organization.picture
                  img.img-responsive(src="./images/#{organization.picture}" )
                p= organization.description
              .col-md-6
                img.img-responsive.img-tract(src="./images/#{organization.tract}" )
            .row.ghost-row

      button.close-button
        i.icon-cancel
        span Fermer

  //- .container
  //-   .row
  //-     each organization, i in organizations
  //-       .col-md-3.col-sm-4
  //-         a(href= "/#{organization._id}")
  //-           .thumbnail.home-thumbnail
  //-             .caption= organization.name
  //-             .footer= organization.date

