extends layout

block content

  #theGrid.main

    section.grid
      each organization, i in organizations
        a.grid__item(href="##{organization.slug}")
          h2.title.title--preview= organization.name
          .meta.meta--preview
            span.meta__date= organization.date_fr


    section.content(style="top:173px;")
      .scroll-wrap
        each organization, i in organizations
          article.content__item
            //- span.categorry.category--full Test
            h2.title.title--full= organization.name
            .meta.meta--full
              span.meta__date= organization.date_fr
            .row
              .col-md-6
                p= organization.description
                if organization.picture
                  img.img-responsive(src="./images/#{organization.picture}" )
              .col-md-6
                img.img-responsive(src="./images/#{organization.tract}" )

      button.close-button
        | X
        span Close

  //- .container
  //-   .row
  //-     each organization, i in organizations
  //-       .col-md-3.col-sm-4
  //-         a(href= "/#{organization._id}")
  //-           .thumbnail.home-thumbnail
  //-             .caption= organization.name
  //-             .footer= organization.date

